@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  min-width: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  background: #fff;
  color: #124A39;
}

body,
input,
button {
  font-family: 'Cabin', 'Roboto', sans-serif;
  font-size: 14px;
}

.swipeable-wrapper div:last-of-type span::after {
  visibility: hidden;
}